body {
  font-family: 'Noto Sans JP', sans-serif;
}

aside {
  overflow-wrap: break-word;
  word-break: keep-all;
}

code, .CodeMirror * {
  font-family: 'M PLUS 1 Code', monospace;
  font-weight: 500;
}

.book-btn {
  font-weight: bold;
}

.book-page {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

article {
  flex: 1;
}

@import "./_syntax";